@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

@font-face {
  font-family: 'AirbnbCereal';
  src: url(assets/fonts/AirbnbCereal-Medium.woff2);
}

@font-face {
  font-family: 'AirbnbCereal-Light';
  src: url(assets/fonts/AirbnbCereal-Light.woff);
}

@font-face {
  font-family: 'AirbnbCereal-Book';
  src: url(assets/fonts/AirbnbCereal-Book.woff);
}

@font-face {
  font-family: 'AirbnbCereal-ExtraBold';
  src: url(assets/fonts/AirbnbCereal-ExtraBold.woff);
}

@font-face {
  font-family: 'AirbnbCereal-Bold';
  src: url(assets/fonts/AirbnbCereal-Bold.woff2);
}

@font-face {
  font-family: 'Walsheim';
  src: url(assets/fonts/GTWalsheim-Medium.woff2);
}

@font-face {
  font-family: 'Walsheim-Bold';
  src: url(assets//fonts/GTWalsheim-Bold.woff2);
}

@font-face {
  font-family: 'Walsheim-Oblique';
  src: url(assets//fonts/GTWalsheim-Regular-Oblique.woff2);
}

* {
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h3 {
  font-family: 'Walsheim-Bold';
}

p {
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
